<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View-Orders</title>
</head>
<body>
    <div>
        <h1 class="text-center">Product Details</h1>
        <div class="container mt-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: ₹{{ product.price }}</p>
    </div>
</body>
</html>